@charset "utf-8";

/* reset */
html,
body {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a:link,
a:visited {
  text-decoration: none;
  color: #222;
}
ul,
li {
  list-style-type: none;
}
img {
  display: block;
}

body {
  background-color: skyblue;
}

.header {
  position: fixed;
  width: 100%;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.toggle {
  width: 30px;
  height: 30px;
  background-color: #ddd;
  display: none;
}
.bg-pop {
  background: peachpuff;
}

/* container */
.layout {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  align-items: center;
}

/* navigation */
.gnbMenu {
}
.gnbMenu > ul {
  display: flex;
  gap: 10px;
}

.gnbMenu a {
  display: block;
  padding: 10px 16px;
  /* background: red; */
}

/* css responsive */
@media screen and (max-width: 1199px) {
  body {
    background-color: pink;
  }
}

@media screen and (max-width: 991px) {
  body {
    background-color: grey;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
    /* 해당 설정이 없을 경우, 위쪽에서 박스 w1200px로 맞춰준 것 때문에
      1200px보다 화면이 작아지면 스크롤이 생기게 됨 */
  }
  .gnbMenu {
    background-color: #eeeeee;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .gnbMenu.active {
    left: 0;
  }

  .gnbMenu > ul {
    flex-direction: column;
  }
  .toggle {
    display: block;
    z-index: 10;
  }
}
@media screen and (max-width: 575px) {
}
